pipeline/Landing_InvoiceAddress Truncate and Load.json
{
	"name": "Landing_InvoiceAddress Truncate and Load",
	"properties": {
		"description": "Copy new or updated rows only from database using external control table",
		"activities": [
			{
				"name": "LookupLastWaterMark",
				"description": "Retrieve the last high-watermark value stored in external control table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Landing_InvoiceAddresswatermarktable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupCurrentWaterMark",
				"description": "Retrieve  the current maximum value in watermark column of source data store",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": {
							"value": "@concat('select MAX(',pipeline().parameters.Data_Source_WaterMarkColumn, ') as NewWatermarkValue from ',pipeline().parameters.Data_Source_Table_Name)",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "OdbcDataSource",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeltaCopyfromDB",
				"description": "Copy activity to use query to filter the delta data by > last high-watermark and <= current high-watermark from source database, and then only copy the changes to the destination store.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupCurrentWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupLastWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Truncate Landing_InvoiceAddress Procedure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": {
							"value": "select  ID\n      ,TripNo\n      ,ParentDateStamp\n      ,ParentLineTimeStamp\n      ,sysCreated\n      ,sysModified\n      ,Amount\n      ,Code\n      ,DateStamp\n      ,Description\n      ,InPackage\n      ,InvoiceCode\n      ,LineNo\n      ,LineTimeStamp\n      ,LineType\n      ,LocationCode\n      ,Qty\n      ,Status\n      ,Tax1\n      ,Tax2\n      ,Tax3\nfrom \n@{pipeline().parameters.Data_Source_Table_Name} where @{pipeline().parameters.Data_Source_WaterMarkColumn} > '@{activity('LookupLastWaterMark').output.firstRow.invoiceaddresswatermark_value}' and @{pipeline().parameters.Data_Source_WaterMarkColumn} <= '@{activity('LookupCurrentWaterMark').output.firstRow.NewWatermarkValue}'\n\nUNION\nselect  ID\n      ,TripNo\n      ,ParentDateStamp\n      ,ParentLineTimeStamp\n      ,sysCreated\n      ,sysModified\n      ,Amount\n      ,Code\n      ,DateStamp\n      ,Description\n      ,InPackage\n      ,InvoiceCode\n      ,LineNo\n      ,LineTimeStamp\n      ,LineType\n      ,LocationCode\n      ,Qty\n      ,Status\n      ,Tax1\n      ,Tax2\n      ,Tax3\nfrom \n\t @{pipeline().parameters.Data_Source_Table_Name} \n\t where @{pipeline().parameters.Data_Source_WaterMarkColumn_modified} > '@{activity('LookupLastWaterMark').output.firstRow.invoiceaddresswatermark_value}' \n\t and @{pipeline().parameters.Data_Source_WaterMarkColumn_modified} <= '@{activity('LookupCurrentWaterMark').output.firstRow.NewWatermarkValue}' ",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0
				},
				"inputs": [
					{
						"referenceName": "OdbcDataSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Landing_InvoiceAddressDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "UpdateWaterMark",
				"description": "Stored procedure activity to store the new high-watermark value into external control table for delta data loading. ",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DeltaCopyfromDB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "update_InvoiceAddresswatermark",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@{activity('LookupCurrentWaterMark').output.firstRow.NewWatermarkValue}",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Secondary1_Landing Linked Service",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Truncate Landing_InvoiceAddress Procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LandingTablesTruncate_InvoiceAddress]"
				},
				"linkedServiceName": {
					"referenceName": "Secondary1_Landing Linked Service",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Data_Source_Table_Name": {
				"type": "String",
				"defaultValue": "SQLUser.InvoiceAddress"
			},
			"Data_Source_WaterMarkColumn": {
				"type": "String",
				"defaultValue": "sysCreated"
			},
			"Data_Destination_Container": {
				"type": "String",
				"defaultValue": "rd.InvoiceAddress"
			},
			"Data_Destination_Directory": {
				"type": "String"
			},
			"Control_Table_Table_Name": {
				"type": "String",
				"defaultValue": "InvoiceAddresswatermark_table"
			},
			"Control_Table_Column_Name": {
				"type": "String",
				"defaultValue": "InvoiceAddresswatermark_value"
			},
			"Data_Source_WaterMarkColumn_modified": {
				"type": "string",
				"defaultValue": "sysModified"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-05-12T21:57:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}