pipeline/PO_CachetoODS.json
{
	"name": "PO_CachetoODS",
	"properties": {
		"description": "Copy new or updated rows only from database using external control table",
		"activities": [
			{
				"name": "LookupLastWaterMark",
				"description": "Retrieve the last high-watermark value stored in external control table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Load Active Trigger Begin 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Landing_watermarktableDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupCurrentWaterMark",
				"description": "Retrieve  the current maximum value in watermark column of source data store",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set Run Start 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DATEADD(dd,0,[ETL Last Run Start]) as NewWatermarkValue\nFROM ca.Control_Table\nWHERE [Group]=10 AND Entity='PO'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlTableDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeltaCopyfromDB",
				"description": "Copy activity to use query to filter the delta data by > last high-watermark and <= current high-watermark from source database, and then only copy the changes to the destination store.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupCurrentWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupLastWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Truncate Landing_Invoice Procedure",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupDeltaOffset",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": {
							"value": "select ID\n      ,FloorPlan\n      ,ShipToType\n      ,SerialTypeCode\n      ,ReceiveToLocation\n      ,ReceiveToLocationCode\n      ,DateEffective\n      ,Unreleased\n      ,DateCreated\n      ,UserCreated\n      ,Authorized\n      ,DateAuthorized\n      ,UserAuthorized\n      ,Received\n      ,DateConfirmedReceived\n      ,UserReceived\n      ,Paid\n      ,DatePaid\n      ,UserPaid\n      ,EDISentDate\n      ,EDISentTime\n      ,RequestedDeliveryDate\n      ,Buyer\n      ,Code\n      ,Confirmed\n      ,CostFactor\n      ,DateConfirmed\n      ,DateCosted\n      ,DateFinished\n      ,DateOrdered\n      ,DateReceived\n      ,DateStarted\n      ,FloorPlanDays\n      ,ShipToAddress1\n      ,ShipToAddress2\n      ,ShipToCity\n      ,ShipToCode\n      ,ShipToName\n      ,ShipToNotes\n      ,ShipToPhone1\n      ,ShipToPhone2\n      ,ShipToState\n      ,ShipToZipCode\n      ,SupplierAccountNumber\n      ,SupplierAddress1\n      ,SupplierAddress2\n      ,SupplierCity\n      ,SupplierCode\n      ,SupplierContact1\n      ,SupplierContact2\n      ,SupplierCustomerServicePhone\n      ,SupplierDescription\n      ,SupplierEmail\n      ,SupplierFax\n      ,SupplierPONotes\n      ,SupplierPhone1\n      ,SupplierPhone2\n      ,SupplierShipVia\n      ,SupplierState\n      ,SupplierWebsite\n      ,SupplierZipCode\n      ,TotalCosted\n      ,TotalOrdered\n      ,TotalReceived\n      ,UserConfirmed\nfrom \n@{pipeline().parameters.Data_Source_Table_Name} \n\t where @{pipeline().parameters.Data_Source_WaterMarkColumn_modified} > '@{activity('LookupDeltaOffset').output.firstRow.DeltaOffset}' \n\t and @{pipeline().parameters.Data_Source_WaterMarkColumn_modified} <= '@{activity('LookupCurrentWaterMark').output.firstRow.NewWatermarkValue}' \n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0
				},
				"inputs": [
					{
						"referenceName": "OdbcDataSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Landing_PODataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "UpdateWaterMark",
				"description": "Stored procedure activity to store the new high-watermark value into external control table for delta data loading. ",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Run End 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Control_ETLTimes]",
					"storedProcedureParameters": {
						"Column_Name": {
							"value": {
								"value": "@{pipeline().parameters.ETLEndTimeColumn}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Entity": {
							"value": {
								"value": "@{pipeline().parameters.ControlTable_Entity}",
								"type": "Expression"
							},
							"type": "String"
						},
						"GetRunEnd": {
							"value": {
								"value": "@{activity('Get Run End 2').output.firstRow.RunEnd2}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Group": {
							"value": {
								"value": "@{pipeline().parameters.ControlTable_Group2}",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Secondary1LinkedService_Test",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Truncate Landing_Invoice Procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load Active Trigger Begin 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LandingTablesTruncate_PO]"
				},
				"linkedServiceName": {
					"referenceName": "Secondary1_Landing Linked Service",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Test",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load Active Trigger Begin 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[PO_Delete]"
				},
				"linkedServiceName": {
					"referenceName": "Secondary1LinkedService_Test",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Test_2_Insert",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Test",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[PO_Insert]"
				},
				"linkedServiceName": {
					"referenceName": "Secondary1LinkedService_Test",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Load Active Trigger Begin 1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Control_LoadActive]",
					"storedProcedureParameters": {
						"Entity": {
							"value": {
								"value": "@{pipeline().parameters.ControlTable_Entity}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Group": {
							"value": {
								"value": "@{pipeline().parameters.ControlTable_Group1}",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Secondary1LinkedService_Test",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Load Active Trigger End 2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "UpdateWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Control_LoadActive]",
					"storedProcedureParameters": {
						"Entity": {
							"value": {
								"value": "@{pipeline().parameters.ControlTable_Entity}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Group": {
							"value": {
								"value": "@{pipeline().parameters.ControlTable_Group2}",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Secondary1LinkedService_Test",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LookupDeltaOffset",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Load Active Trigger Begin 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DATEADD(dd,-[DeltaOffset (Days)],[ETL Last Run End]) AS DeltaOffset\nFROM ca.Control_Table\nWHERE Entity='PO' AND\n             [Group]=10",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlTableDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set Run Start 1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Run Start 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Control_ETLTimes]",
					"storedProcedureParameters": {
						"Column_Name": {
							"value": {
								"value": "@{pipeline().parameters.ETLBeginTimeColumn}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Entity": {
							"value": {
								"value": "@{pipeline().parameters.ControlTable_Entity}",
								"type": "Expression"
							},
							"type": "String"
						},
						"GetRunEnd": {
							"value": {
								"value": "@{activity('Get Run Start 1').output.firstRow.RunStart1}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Group": {
							"value": {
								"value": "@{pipeline().parameters.ControlTable_Group1}",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Secondary1LinkedService_Test",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set Run End 1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Run End 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Control_ETLTimes]",
					"storedProcedureParameters": {
						"Column_Name": {
							"value": {
								"value": "@{pipeline().parameters.ETLEndTimeColumn}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Entity": {
							"value": {
								"value": "@{pipeline().parameters.ControlTable_Entity}",
								"type": "Expression"
							},
							"type": "String"
						},
						"GetRunEnd": {
							"value": {
								"value": "@{activity('Get Run End 1').output.firstRow.RunEnd1}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Group": {
							"value": {
								"value": "@{pipeline().parameters.ControlTable_Group1}",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Secondary1LinkedService_Test",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set Run Start 2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Run Start 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Control_ETLTimes]",
					"storedProcedureParameters": {
						"Column_Name": {
							"value": {
								"value": "@{pipeline().parameters.ETLBeginTimeColumn}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Entity": {
							"value": {
								"value": "@{pipeline().parameters.ControlTable_Entity}",
								"type": "Expression"
							},
							"type": "String"
						},
						"GetRunEnd": {
							"value": {
								"value": "@{activity('Get Run Start 2').output.firstRow.RunStart2}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Group": {
							"value": {
								"value": "@{pipeline().parameters.ControlTable_Group2}",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Secondary1LinkedService_Test",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Load Active Trigger End 1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set Run End 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Control_LoadActive]",
					"storedProcedureParameters": {
						"Entity": {
							"value": {
								"value": "@{pipeline().parameters.ControlTable_Entity}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Group": {
							"value": {
								"value": "@{pipeline().parameters.ControlTable_Group1}",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Secondary1LinkedService_Test",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Load Active Trigger Begin 2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set Run Start 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Control_LoadActive]",
					"storedProcedureParameters": {
						"Entity": {
							"value": {
								"value": "@{pipeline().parameters.ControlTable_Entity}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Group": {
							"value": {
								"value": "@{pipeline().parameters.ControlTable_Group2}",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Secondary1LinkedService_Test",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get Run Start 1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT  DATEADD(hh,-7,current_timestamp) AS [RunStart1]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlTableDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get Run End 1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DeltaCopyfromDB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT  DATEADD(hh,-7,current_timestamp) AS [RunEnd1]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlTableDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get Run Start 2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Load Active Trigger End 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT  DATEADD(hh,-7,current_timestamp) AS [RunStart2]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlTableDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get Run End 2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Test_2_Insert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT  DATEADD(hh,-7,current_timestamp) AS [RunEnd2]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlTableDataset",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"Data_Source_Table_Name": {
				"type": "String",
				"defaultValue": "SQLUser.PO"
			},
			"Data_Source_WaterMarkColumn": {
				"type": "String",
				"defaultValue": "DateStarted"
			},
			"Data_Destination_Container": {
				"type": "String",
				"defaultValue": "rd.PO"
			},
			"Data_Destination_Directory": {
				"type": "String"
			},
			"Control_Table_Table_Name": {
				"type": "String",
				"defaultValue": "watermark_table"
			},
			"Control_Table_Column_Name": {
				"type": "String",
				"defaultValue": "Invoicewatermark_value"
			},
			"Data_Source_WaterMarkColumn_modified": {
				"type": "string",
				"defaultValue": "SQLUser.PO.DateStarted"
			},
			"DeltaOffset": {
				"type": "int",
				"defaultValue": -1
			},
			"ControlTable_Entity": {
				"type": "string",
				"defaultValue": "PO"
			},
			"ControlTable_Group1": {
				"type": "int",
				"defaultValue": 10
			},
			"ControlTable_Group2": {
				"type": "int",
				"defaultValue": 20
			},
			"ETLBeginTimeColumn": {
				"type": "string",
				"defaultValue": "ETL Last Run Start"
			},
			"ETLEndTimeColumn": {
				"type": "string",
				"defaultValue": "ETL Last Run End"
			}
		},
		"variables": {
			"Run Start 1": {
				"type": "String"
			},
			"Run Start 2": {
				"type": "String"
			},
			"Run End 1": {
				"type": "String"
			},
			"Run End 2": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-06-10T04:40:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}