pipeline/Test.json
{
	"name": "Test",
	"properties": {
		"description": "Copy new or updated rows only from database using external control table",
		"activities": [
			{
				"name": "LookupLastWaterMark",
				"description": "Retrieve the last high-watermark value stored in external control table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Landing_watermarktableDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupCurrentWaterMark",
				"description": "Retrieve  the current maximum value in watermark column of source data store",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": {
							"value": "@concat('select MAX(',pipeline().parameters.Data_Source2_WaterMarkColumn, ') as NewWatermarkValue from ',pipeline().parameters.Data_Source_Table_Name2)",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "OdbcDataSource",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeltaCopyfromDB",
				"description": "Copy activity to use query to filter the delta data by > last high-watermark and <= current high-watermark from source database, and then only copy the changes to the destination store.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupCurrentWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupLastWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Truncate Landing_InvoiceAddress Procedure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": {
							"value": "select  SQLUser.InvoiceAddress.ID\n      ,TripNo\n      ,ParentDateStamp\n      ,ParentLineTimeStamp\n      ,SQLUser.InvoiceAddress.sysCreated\n      ,SQLUser.InvoiceAddress.sysModified\n      ,SQLUser.InvoiceAddress.Amount\n      ,SQLUser.InvoiceAddress.Code\n      ,SQLUser.InvoiceAddress.DateStamp\n      ,SQLUser.InvoiceAddress.Description\n      ,SQLUser.InvoiceAddress.InPackage\n      ,InvoiceCode\n      ,LineNo\n      ,LineTimeStamp\n      ,LineType\n      ,SQLUser.InvoiceAddress.LocationCode\n      ,SQLUser.InvoiceAddress.Qty\n      ,SQLUser.InvoiceAddress.Status\n      ,SQLUser.InvoiceAddress.Tax1\n      ,SQLUser.InvoiceAddress.Tax2\n      ,SQLUser.InvoiceAddress.Tax3\nfrom \n@{pipeline().parameters.Data_Source_Table_Name} INNER JOIN @{pipeline().parameters.Data_Source_Table_Name2} ON InvoiceCode=SQLUser.Invoice.Code\nwhere @{pipeline().parameters.Data_Source2_WaterMarkColumn} > '@{activity('LookupLastWaterMark').output.firstRow.invoicewatermark_value}' and @{pipeline().parameters.Data_Source2_WaterMarkColumn} <= '@{activity('LookupCurrentWaterMark').output.firstRow.NewWatermarkValue}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0
				},
				"inputs": [
					{
						"referenceName": "OdbcDataSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Landing_InvoiceAddressDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "UpdateWaterMark",
				"description": "Stored procedure activity to store the new high-watermark value into external control table for delta data loading. ",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Test_2_Insert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "update_InvoiceAddresswatermark",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@{activity('LookupCurrentWaterMark').output.firstRow.NewWatermarkValue}",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Secondary1_Landing Linked Service",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Truncate Landing_InvoiceAddress Procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LandingTablesTruncate_InvoiceAddress]"
				},
				"linkedServiceName": {
					"referenceName": "Secondary1_Landing Linked Service",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Test",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DeltaCopyfromDB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Test]"
				},
				"linkedServiceName": {
					"referenceName": "Secondary1LinkedService_Test",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Test_2_Insert",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Test",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Test_2]"
				},
				"linkedServiceName": {
					"referenceName": "Secondary1LinkedService_Test",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Data_Source_Table_Name": {
				"type": "String",
				"defaultValue": "SQLUser.InvoiceAddress"
			},
			"Data_Source_WaterMarkColumn": {
				"type": "String",
				"defaultValue": "SQLUser.InvoiceAddress.sysCreated"
			},
			"Data_Destination_Container": {
				"type": "String",
				"defaultValue": "rd.InvoiceAddress"
			},
			"Data_Destination_Directory": {
				"type": "String"
			},
			"Control_Table_Table_Name": {
				"type": "String",
				"defaultValue": "InvoiceAddresswatermark_table"
			},
			"Control_Table_Column_Name": {
				"type": "String",
				"defaultValue": "InvoiceAddresswatermark_value"
			},
			"Data_Source_WaterMarkColumn_modified": {
				"type": "string",
				"defaultValue": "SQLUser.Invoice.sysModified"
			},
			"Data_Source_Table_Name2": {
				"type": "string",
				"defaultValue": "SQLUser.Invoice"
			},
			"Data_Source2_WaterMarkColumn": {
				"type": "string",
				"defaultValue": "SQLUser.Invoice.sysModified"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-05-13T22:49:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}